@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.home-content{
   margin: 20px; 
   max-width: 1200px;
   width: 100%;
   margin: 20px auto;
   background-color: #cdcdcd;
   padding: 30px 20px 80px 20px;
}

.home-content h1{
    margin-bottom: 20px;
}

.home-content p{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}


.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    box-sizing: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
}

.styled-table th,
.styled-table td{
    padding: 12px 15px;
}

.styled-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr{
    border-left: 2px solid #009879;
    border-right: 2px solid #009879;
}



.btn{
    border: none;
    color: #fff;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit{
    background-color: #008cba;
}

.btn-delete{
    background-color: #f44336;
}

.btn-view{
    background-color: #e7e7e7;
    color: #000;
}

.btn-add-team{
    background-color: #e82764;
    margin-bottom: 10px;
    margin-top: 30px;
}

.m-t{
    margin-top: 150px;
}